* {
    margin: auto;
    padding: 0;
}
#container {
    width: 1200px;
}

#header {
    width: 100%;
    height: 200px;
}
#header img {
    width: 100%;
    height: 200px;
}

#menu {
    width: 15%;
    float: left;
    background-color:#FFFFFF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    font-family: times;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

li a.active {
    background-color: #00FFFF;
    color: black;
}

li a:hover:not(.active) {
    background-color: #00FFFF;
    color: black;
}

#content {
    width: 70%;
}
#content #contato {
    width: 76%;
    font-family: arial;
    font-size: 25px;
}

#content #contato img {
    width: 35%;
    padding-left: 250px; 
}

#content1 {
    width: 62%;
    float: left;
    padding-top: 25px;
    padding-left: 18px;
}

#content2 {
    width: 20%;
    float: left;
    padding-left: 15px;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: black;
    clear: both;
}

#footer p {
    padding-top: 9px;
    color: white;
    text-align: center;
}

#content1 .parag {
    font-family: arial;
    font-size: 25px;
    text-align: justify;
}

#content2 img {
    width: 100%;
    height: 160px;
    padding-top: 110px;
}

#content2 .img {
    width: 100%;
    height: 200px;
    padding-top: 30px;
}

#content3 {
    width: 600px;
    height: 325px;
    clear: both;
    padding: 15px;
}

#content3 img {
    width: 100%;
}
.titulo {
    width: 100%;
    text-align: center;
    margin-top: 30px;  
}
.promocao {
    width: 100%;
    text-align: center;

}
.promocao .img {
    margin: 45px;
    border: 1px solid #ccc;
    float: left;
    width: 160px; 
}
.promocao .img:hover {
    border:1px solid #777;
}
.promocao .img img {
    width: 100%;
    height: 180px;
}

#formcliente {
    margin: 20px;
}

#content fieldset {
    padding: 15px;
}

